<div class="login-container text-center mt-5">
  <h1>Member Login:</h1>
  <form class="mt-4" (ngSubmit)="onLogin()">
    <input #usernameInput class="mt-1" required autofocus type="text" name="username" placeholder="Enter Username"
      [(ngModel)]="loginData.username" autocomplete="off" required />
    <br>
    <input class="mt-3" type="password" name="loginPassword" placeholder="Enter Password"
      [(ngModel)]="loginData.loginPassword" autocomplete="current-password" required />
    <br>
    <button class="mt-3" type="submit">Login</button>
  </form>
  <br>
  <h4 *ngIf="errorMessage" class="error text-danger" [innerHTML]="errorMessage"></h4>
</div>
