<div clss="container-fluid my-5 px-4">
  <h1>
    About Surrtrade
  </h1>
  <hr>
  <h3>Surrtrade is a online marketplace where you can:</h3>
  <h3 class="buySell">Buy<br>Sell<br>Trade</h3>
  <h3>E-Bikes as well as parts and accessories with other members
    <br>
    Build a community and setup rideouts and meetups
  </h3>
  <hr>
  <h3>Our goal is to connect enthusiast of the hobby by building connections
    <br>
    Developing bonds within our community and centralizing the E-bike marketplace
  </h3>
  <hr>
  <h3>Developed by John Puliatch</h3>
</div>
