<div class="register-container text-center mt-5">
  <h1>Register:</h1>
  <form class="mt-3 mx-auto" (ngSubmit)="onRegister()" #registerForm="ngForm">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="form-group mb-3">
            <input class="form-control mt-3" type="text" name="username" placeholder="Enter Username"
              [(ngModel)]="registerData.username" #username="ngModel" (input)="onUsernameInput(registerData.username)"
              required />
            <div class="text-danger mt-3" *ngIf="username.invalid && username.touched">
              A Username Is Required
            </div>
            <div class="text-danger mt-3" *ngIf="usernameExists">
              Username Has Already Been Claimed
            </div>
            <input class="form-control mt-3" type="email" name="email" placeholder="Enter Email"
              [(ngModel)]="registerData.email" #email="ngModel" required />
            <div class="text-danger mt-3" *ngIf="!isValidEmail(registerData.email) && email.touched">
              Please Enter A Valid Email Address
            </div>
            <input class="form-control mt-3" type="password" name="password" placeholder="Enter Password"
              [(ngModel)]="registerData.password" (input)="onPasswordInput(registerData.password)" minlength="8"
              required />
            <div class="text-danger mt-3" *ngIf="!isPasswordValid && registerData.password.length !== 0">
              Password Must Be At Least 8 Characters Long
            </div>
            <input class="form-control mt-3" type="password" name="confirmPassword" placeholder="Confirm Password"
              [(ngModel)]="confirmPassword" required />
            <div class="text-danger mt-3"
              *ngIf="registerData.password !== confirmPassword && confirmPassword.length > 0">
              Passwords Do Not Match
            </div>
            <button class="btn btn-primary mt-3" type="submit"
              [disabled]="registerForm.invalid || registerData.password !== confirmPassword">
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
